<div class="container-fluid">
    <!--headers-->
    <div class="row manage-trip manage-trip__headers-row">
        <div class="col-2">
            <h4 class="manage-trip__text-header">Days</h4>
        </div>
        <div class="col-8">
            <h4 class="manage-trip__text-header">Manage Your Trip</h4>
        </div>
        <div class="col-2">
            <h4 class="manage-trip__text-header">Order Your Day</h4>

        </div>
    </div>
    <div class="row">
        <!--days section-->
        <div class="col-2 manage-trip manage-trip__days-section">
            <button type="button" class="btn btn-info manage-trip__btn-day">Day 1</button>
            <button type="button" class="btn btn-info  manage-trip__btn-day">Day 2</button>
            <button type="button" class="btn btn-info  manage-trip__btn-day">Day 3</button>

        </div>
        <!--manage trip section-->
        <div class="col-8 manage-trip manage-trip__details-section">

            <!--dropdown-->
            <div class="row manage-trip__dropdown">
                <div class="col-1 manage-trip__dropdown-lable">
                    <label class="manage-trip__dropdown-text">Country</label>
                </div>
                <div class="col-3">

                    <app-dropdown>
                        <option *ngFor="let country of trip['countries']" value='country.id'>{{country.name}}</option>
                        <a class="action-btn  " href="#">
                            <i class="fas fa-plus manage-trip--icons manage-trip--plus-icon"></i>
                        </a>
                    </app-dropdown>


                </div>

                <div class="col-1 manage-trip__dropdown-lable">
                    <label class="manage-trip__dropdown-text">City</label>
                </div>
                <div class="col-3">

                    <app-dropdown>
                        <option *ngFor="let city of trip['cities']" value='city.id'>{{city.name}}</option>

                        <a class="action-btn  manage-trip--btn-plus-color" href="#">
                            <i class="fas fa-plus manage-trip--icons manage-trip--plus-icon"></i>
                        </a>
                    </app-dropdown>

                </div>
            </div>

            <!--tabs icons-->
            <div class="row tabs ">
                <!-- hena el tabs -->
                <div>
                    <tabset>
                        <tab heading="Hotels" id="tab1">
                            <div class="row">
                                <div>
                                    <trip-card-listing [dataa]="trip['hotels']"></trip-card-listing>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Resturants">
                            <div class="row">
                                <trip-card-listing [dataa]="trip['resturants']"></trip-card-listing>
                            </div>
                        </tab>
                        <!-- <tab heading="Destinations">content 2</tab> -->
                        <tab heading="Activities"> content</tab>
                        <!-- <tab heading="Transportations">Basic 2</tab> -->

                    </tabset>
                </div>

            </div>


        </div>
        <!--order section-->
        <div class="col-2 manage-trip manage-trip__order-day-section ">

            <button type="button " class="btn btn-info manage-trip__order-day manage-trip__btn-day ">Hotel </button>
            <button type="button " class="btn btn-info manage-trip__order-day manage-trip__btn-day ">Activity
                    1</button>
            <button type="button " class="btn btn-info manage-trip__order-day manage-trip__btn-day ">destination
                    1</button>
            <button type="button " class="btn btn-info manage-trip__order-day manage-trip__btn-day ">destination2</button>
            <button type="button " class="btn btn-info manage-trip__order-day manage-trip__btn-day ">Activity
                    2</button>
            <button type="button " class="btn btn-info manage-trip__order-day manage-trip__btn-day ">destination
                    3</button>
        </div>
        <!-- </div> -->

    </div>
</div>
<button type="button" class="btn btn-secondary" style="margin: 0 auto;display: flex;">Preview Your Trip</button>