<div class="container my-3">
  <form [formGroup]="contactUs">
    <label for="fname" class="text-dark">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname" class="text-dark">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="subject" class="text-dark">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="button" class="btn btn-primary" value="Submit">
  </form>
</div>