<div class="col-lg-4 col-md-5 card-overlay__image-col mb-5">
    <div class="card-overlay__overlay-container">
        <a href="#">
            <div class="card-overlay__centered">{{country.name}}</div>
            <img class="card-overlay__image-card" [src]="country.image">

            <div class="card-overlay__overlay">
                <h5 class="card-overlay__overlay-text-header">{{country.name}}</h5>
                <p class="card-overlay__overlay-text">{{country.description}}</p>
            </div>
        </a>
    </div>
</div>