<div class="row no-gutters nopadding">
  <div class="col-md-8 no-gutters nopadding ">
    <div id="carouselExampleFade" class="img-size carousel slide carousel-fade " data-ride="carousel">
      <div class="img-size carousel-inner">
        <div class="img-size carousel-item active">
          <img src="../../../assets/images/image1.jpg" class="slider_img_size" alt="...">
        </div>
        <div class="img-size carousel-item">
          <img src="../../../assets/images/image2.jpg" class="slider_img_size" alt="...">
        </div>
        <div class="img-size carousel-item">
          <img src="../../../assets/images/image3.jpg" class="slider_img_size" alt="...">
        </div>
        <div class="img-size carousel-item">
          <img src="../../../assets/images/image4.jpg" class="slider_img_size" alt="...">
        </div>
        <div class="img-size carousel-item">
          <img src="../../../assets/images/image5.jpg" class="slider_img_size" alt="...">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 no-gutters nopadding">
    <form [formGroup]="signupForm" class="login100-form validate-form">
      <span class="login100-form-title p-b-43">
        Sign Up
      </span>
      <div class="wrap-input100Signup validate-input">
        <input class="input100" type="text" name="FirstName">
        <span class="focus-input100"></span>
        <span class="label-input100SignUp" formControlName="firstName">First Name</span>
      </div>
      <div class="wrap-input100Signup validate-input">
        <input class="input100" type="text" name="LastName">
        <span class="focus-input100"></span>
        <span class="label-input100SignUp" formControlName="lastName">Last Name</span>
      </div>
      <div class="wrap-input100Signup validate-input">
        <input class="input100" type="text" name="PhoneNumber">
        <span class="focus-input100"></span>
        <span class="label-input100SignUp" formControlName="phoneNumber">Phone Number</span>
      </div>
      <div class="wrap-input100Signup validate-input" data-validate="Valid email is required: ex@abc.xyz">
        <input class="input100" type="text" name="email">
        <span class="focus-input100"></span>
        <span class="label-input100SignUp" formControlName="email">Email</span>
      </div>
      <div class="wrap-input100Signup validate-input" data-validate="Password is required">
        <input class="input100" type="password" name="pass">
        <span class="focus-input100"></span>
        <span class="label-input100SignUp" formControlName="password">Password</span>
      </div>
      <div class="wrap-input100Signup validate-input" data-validate="Password is required">
        <input class="input100" type="password" name="pass2">
        <span class="focus-input100"></span>
        <span class="label-input100SignUp" formControlName="confirmPassword">Confirm Password</span>
      </div>
      <div class="container-login100-form-btn">
        <button class="login100-form-btn">
          Sign Up
        </button>
      </div>
    </form>
  </div>
</div>