<div class="row no-gutters nopadding">
  <div class="col-md-8 no-gutters nopadding ">
    <div id="carouselExampleFade" class="img-size carousel slide carousel-fade " data-ride="carousel">
      <div class="img-size carousel-inner">
        <div class="img-size carousel-item active">
          <img src="../../../assets/images/image1.jpg" class="slider_img_size" alt="...">
        </div>
        <div class="img-size carousel-item">
          <img src="../../../assets/images/image2.jpg" class="slider_img_size" alt="...">
        </div>
        <div class="img-size carousel-item">
          <img src="../../../assets/images/image3.jpg" class="slider_img_size" alt="...">
        </div>
        <div class="img-size carousel-item">
          <img src="../../../assets/images/image4.jpg" class="slider_img_size" alt="...">
        </div>
        <div class="img-size carousel-item">
          <img src="../../../assets/images/image5.jpg" class="slider_img_size" alt="...">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 no-gutters nopadding">
    <form class="login100-form validate-form">
      <span class="login100-form-title p-b-43">
        Login to continue
      </span>


      <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
        <input class="input100" type="text" name="email">
        <span class="focus-input100"></span>
        <span class="label-input100">Email</span>
      </div>


      <div class="wrap-input100 validate-input" data-validate="Password is required">
        <input class="input100" type="password" name="pass">
        <span class="focus-input100"></span>
        <span class="label-input100">Password</span>
      </div>
      <input type="checkbox" name="rememberMe" value="remember" checked>Remember Me<br>
      <div class="container-login100-form-btn">
        <button class="login100-form-btn">
          Login
        </button>
      </div>
      <div>
        <a href="#" class="txt1">
          Forgot Password?
        </a>
      </div>

      <!-- <div class="text-center p-t-46 p-b-20">
                    <span class="txt2">
                        or sign up using
                    </span>
                </div>

                <div class="login100-form-social flex-c-m">
                    <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
                        <i class="fa fa-facebook-f" aria-hidden="true"></i>
                    </a>

                    <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </div> -->
    </form>
  </div>
</div>