<div class="row">
    <div class="col col-md-3 searchPart">

        <form-city-filter></form-city-filter>

    </div>
    <div class="col col-md-9">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <h2> Reno: 42 properties found </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <tabset>
                            <tab heading="Hotels">

                                <city-activity-details-card-listing [cityDataArr]="hotel"></city-activity-details-card-listing>
                            </tab>
                            <tab heading="Resturants">

                                <city-activity-details-card-listing [cityDataArr]="resturant"></city-activity-details-card-listing>

                            </tab>
                            <tab heading="Activities">

                                <city-activity-details-card-listing [cityDataArr]="activity"></city-activity-details-card-listing>

                            </tab>

                        </tabset>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>