<header></header>
<!-- <router-outlet></router-outlet> -->
<!-- <hotels></hotels> -->
<!-- <hotel-listing></hotel-listing> -->

<!-- <hotels></hotels> -->

<!-- <hotel-listing></hotel-listing> -->

<!-- <restaurant-listing></restaurant-listing> -->

<!-- <restaurant></restaurant> -->

<!-- <restaurant-listing></restaurant-listing> -->

<!-- <activities></activities> -->

<!-- <countries></countries> -->


<!-- <countries></countries> -->

<!-- <app-cities></app-cities> -->

<app-make-trip></app-make-trip>

<footer></footer>