<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light mt-4">
    <a class="navbar-brand" href="#">
      <!-- <img src="images/logo.png" alt=""> -->
      <a class="navbar-brand" href="#">Logo</a>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
      <ul class="navbar-nav position-relative">
        <li class="nav-item active dropdown pb-3">
          <a class="nav-link text-uppercase" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Home <span class="sr-only">(current)</span>
          </a>
          <div class="dropdown-menu dropdown__content p-3" aria-labelledby="navbarDropdownMenuLink">
            <div class="container d-flex flex-row">
              <div class="row flex-nowrap">
                <div class="col">

                  <a class="dropdown-item font-weight-light px-3 py-2" href="#">Home –
                    Modern</a>
                  <a class="dropdown-item font-weight-light px-3 py-2" href="#">Home – Full
                    Screen</a>
                  <a class="dropdown-item font-weight-light px-3 py-2" href="#">Home –
                    Video</a>
                  <a class="dropdown-item font-weight-light px-3 py-2" href="#">Home –
                    zoom</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-uppercase" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Destination
          </a>
          <div class="dropdown-menu dropdown__content p-3" aria-labelledby="navbarDropdownMenuLink">
            <div class="container d-flex flex-row">
              <div class="row flex-nowrap">
                <div class="col">

                  <a class="dropdown-item px-3 py-2" href="#">World</a>
                  <a class="dropdown-item px-3 py-2" href="#">Europe</a>
                  <a class="dropdown-item px-3 py-2" href="#">Asia</a>
                  <a class="dropdown-item px-3 py-2" href="#">Africa</a>
                </div>
                <div class="col">

                  <a class="dropdown-item font-weight-light px-3 py-2" href="#">All world</a>
                  <a class="dropdown-item font-weight-light px-3 py-2" href="#">Austalia</a>
                  <a class="dropdown-item font-weight-light px-3 py-2" href="#">Canada</a>
                </div>
                <div class="col">

                  <a class="dropdown-item font-weight-light px-3 py-2" href="#">New
                    zealand</a>
                  <a class="dropdown-item font-weight-light px-3 py-2" href="#">North
                    America</a>
                  <a class="dropdown-item font-weight-light px-3 py-2" href="#">Turkey</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-uppercase" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Listings
          </a>
          <div class="dropdown-menu dropdown__content p-3" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item font-weight-light px-3 py-2" href="#">Grid – 3 Column</a>
            <a class="dropdown-item font-weight-light px-3 py-2" href="#">Grid – Left Sidebar</a>
            <a class="dropdown-item font-weight-light px-3 py-2" href="#">Grid – Right Sidebar</a>
            <a class="dropdown-item font-weight-light px-3 py-2" href="#">Grid – Wide View</a>
            <a class="dropdown-item font-weight-light px-3 py-2" href="#">Grid – 2 Column</a>
            <a class="dropdown-item font-weight-light px-3 py-2" href="#">Grid – 4 Column</a>
            <a class="dropdown-item font-weight-light px-3 py-2" href="#">List View – Default</a>
            <a class="dropdown-item font-weight-light px-3 py-2" href="#">List – Left Sidebar</a>
            <a class="dropdown-item font-weight-light px-3 py-2" href="#">List – Right Sidebar</a>
          </div>
        </li>
        <li class="nav-item dropdown position-static">
          <a class="nav-link text-uppercase" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Activities
          </a>
          <div class="dropdown-menu dropdown__content p-3" aria-labelledby="navbarDropdownMenuLink">
            <div class="container d-flex flex-row no-gutters">
              <div class="row flex-nowrap">
                <div class="col-lg-3">
                  <img src="../../../assets/images/shutterstock_1.jpg" class="pt-4 w-290" alt="" srcset="">
                  <a class="dropdown-item" href="#">Action</a>
                  <p class="p-3 font-weight-light">Lorem ipsum dolor sit amet, consectetur
                    adipisicing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>
                <div class="col-lg-3 offset-1">
                  <img src="../../../assets/images/cat-shutterstock_2.jpg" class="pt-4 w-290" alt="" srcset="">
                  <a class="dropdown-item p-2" href="#">Action</a>
                  <p class="p-3 font-weight-light">Lorem ipsum dolor sit amet, consectetur
                    adipisicing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>
                <div class="col-lg-3 offset-1">
                  <img src="../../../assets/images/cat-shutterstock.jpg" class="pt-4 w-290" alt="" srcset="">
                  <a class="dropdown-item" href="#">Action</a>
                  <p class="p-3 font-weight-light">Lorem ipsum dolor sit amet, consectetur
                    adipisicing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>
                <!-- <div class="col-lg-3 offset-1">
                                            <img src="images/cat-shutterstock_4.jpg" class="pt-4 w-290" alt="" srcset="">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <p class="p-3 font-weight-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor…</p>
                                        </div> -->
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-uppercase" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Bookings
          </a>
          <div class="dropdown-menu dropdown__content p-3" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item font-weight-light px-3 py-2" href="#">Fixed Dates</a>
            <a class="dropdown-item font-weight-light px-3 py-2" href="#">Date Picker</a>
            <a class="dropdown-item font-weight-light px-3 py-2" href="#">Affiliate Tour</a>
            <a class="dropdown-item font-weight-light px-3 py-2" href="#"> Dates and Prices</a>
            <a class="dropdown-item font-weight-light px-3 py-2" href="#">WC Bookings Demo</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-uppercase" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Pages
          </a>
          <div class="dropdown-menu dropdown__content p-3" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item font-weight-light px-3 py-2" href="#">Action</a>
            <a class="dropdown-item font-weight-light px-3 py-2" href="#">Another action</a>
            <a class="dropdown-item font-weight-light px-3 py-2" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" href="#">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" href="#">Blog</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- <div>
                <span class="pt-2 px-4">
                    <a href="#" class="fas fa-sign-in-alt text-secondary"></a>
                </span>
                <span class="pt-2">
                    <a href="#" class="fas fa-search text-secondary"></a>
                </span>
            </div> -->
</div>